@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體";
  white-space: nowrap;
  cursor: pointer;
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select {
  background: none;
  border: none;
}

main {
  display: block;
}

label {
  display: block;
}

a {
  text-decoration: none;
}

i {
  display: block;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

header .bottomArea .center .marquee {
  background: url("../img/marquee_bg.png") no-repeat;
  background-size: contain;
}

header .bottomArea .center form {
  background: url("../img/userList_bg.png") no-repeat;
  background-size: contain;
}

aside .download {
  background: url("../img/download.png") no-repeat;
  background-size: 200%;
}

aside .download i {
  background: url("../img/download_ic.png") no-repeat;
  background-size: contain;
}

main .typeList li .hexagon {
  background: url("../img/gameType_container.png") no-repeat center;
  background-size: contain;
}

.bg {
  background: url("../img/bg.png") no-repeat top left;
  background-size: cover;
}

aside .servie .line {
  background: url("../img/line.png") no-repeat;
  background-size: contain;
}

aside .servie .call {
  background: url("../img/call.png") no-repeat;
  background-size: contain;
}

aside .servie .bee {
  background: url("../img/bee_ic.png") no-repeat;
  background-size: contain;
}

main .typeList li .hexagon .hover {
  background: url("../img/hover_2.png") no-repeat;
  background-size: contain;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: auto;
  position: relative;
}
html body header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
html body header .topArea {
  width: 100%;
  height: 40px;
  background: #292929;
}
html body header .topArea .center {
  width: 1400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
}
html body header .topArea .center ul {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body header .topArea .center ul li {
  width: 110px;
  height: 100%;
}
html body header .topArea .center ul li.forgetBtn a {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
html body header .topArea .center ul li.forgetBtn a::before {
  content: "";
  width: 106px;
  height: 30px;
  background: url("../img/btn_1.png") no-repeat center;
  background-position-y: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -46%);
          transform: translate(-50%, -46%);
  z-index: 8;
}
html body header .topArea .center ul li.forgetBtn a p {
  font-size: 12px;
  color: #ffffff;
  white-space: nowrap;
  z-index: 9;
  letter-spacing: 1px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
html body header .topArea .center ul li.forgetBtn a:hover::before, html body header .topArea .center ul li.forgetBtn a:active::before, html body header .topArea .center ul li.forgetBtn a.active::before {
  background-position-y: 52%;
}
html body header .topArea .center ul li.languageBtn label {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
html body header .topArea .center ul li.languageBtn label select {
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  cursor: pointer;
  padding: 0 10px 0 0;
  z-index: 9;
}
html body header .topArea .center ul li.languageBtn label select option {
  background: #000000;
  font-size: 13px;
}
html body header .topArea .center ul li.languageBtn label::before {
  content: "";
  width: 106px;
  height: 30px;
  background: url("../img/btn_1.png") no-repeat center;
  background-position-y: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -46%);
          transform: translate(-50%, -46%);
  z-index: 8;
}
html body header .topArea .center ul li.languageBtn label::after {
  content: "";
  width: 5px;
  height: 5px;
  border-style: solid;
  border-width: 0px 0px 2px 2px;
  border-color: #ffffff;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  pointer-events: none;
  z-index: 9;
}
html body header .topArea .center ul li.languageBtn label:hover::before, html body header .topArea .center ul li.languageBtn label:active::before, html body header .topArea .center ul li.languageBtn label.active::before {
  background-position-y: 104%;
}
html body header .midArea {
  width: 100%;
  height: 56px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #171717), to(#767676));
  background: linear-gradient(to top, #171717 30%, #767676 100%);
  border-style: solid;
  border-width: 3px 0 3px 0;
  border-color: #e1b845;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5882352941);
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5882352941);
  position: relative;
  z-index: 5;
}
html body header .midArea .center {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
html body header .midArea .center .logo {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-52%, -46%);
          transform: translate(-52%, -46%);
  cursor: pointer;
}
html body header .midArea .center .logo img {
  width: 269px;
  height: 94px;
  -o-object-fit: contain;
     object-fit: contain;
}
html body header .midArea .center::before {
  content: "";
  width: 277px;
  height: 165px;
  background: url("../img/logo_border.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: -44PX;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
html body header .midArea .center .menu {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body header .midArea .center .menu li {
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px 0 0;
  position: relative;
  cursor: pointer;
}
html body header .midArea .center .menu li a {
  width: auto;
  height: auto;
}
html body header .midArea .center .menu li a p {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;
}
html body header .midArea .center .menu li:nth-of-type(5) {
  margin: 0 360px 0 0;
}
html body header .midArea .center .menu li::before {
  content: "";
  width: 90px;
  height: 80px;
  background: url("../img/hover.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-52%, -49%);
          transform: translate(-52%, -49%);
  z-index: -9;
  display: none;
}
html body header .midArea .center .menu li:hover a p, html body header .midArea .center .menu li:active a p, html body header .midArea .center .menu li.active a p {
  color: #000000;
}
html body header .midArea .center .menu li:hover::before, html body header .midArea .center .menu li:active::before, html body header .midArea .center .menu li.active::before {
  display: block;
}
html body header .bottomArea {
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(#151515), color-stop(30%, #2d2d2d), color-stop(60%, #2f2f2f), color-stop(80%, #171717), to(#2c2c2c));
  background: linear-gradient(to top, #151515 0%, #2d2d2d 30%, #2f2f2f 60%, #171717 80%, #2c2c2c 100%);
}
html body header .bottomArea .center {
  width: 1400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 5px 0 0 0;
}
html body header .bottomArea .center .marquee {
  width: 594px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 20px 0 0;
}
html body header .bottomArea .center .marquee .title {
  width: 171px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 20px 0 0;
}
html body header .bottomArea .center .marquee .title::before {
  content: "";
  width: 166px;
  height: 39px;
  background: url("../img/marquee_title.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body header .bottomArea .center .marquee .title p {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
  z-index: 5;
}
html body header .bottomArea .center .marquee .textBox {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
html body header .bottomArea .center .marquee .textBox p {
  font-size: 15px;
  font-weight: bold;
  color: #ffe86a;
  white-space: nowrap;
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marqueeMove 15s linear 0s infinite;
          animation: marqueeMove 15s linear 0s infinite;
}
@-webkit-keyframes marqueeMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes marqueeMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
html body header .bottomArea .center form {
  width: 594px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 35px;
}
html body header .bottomArea .center form label {
  width: auto;
  height: auto;
  margin: 0 5px 0 0;
}
html body header .bottomArea .center form label input {
  width: 160px;
  height: 32px;
  padding: 0 15px;
  border: solid 1px #ffe2a5;
  background: #ffffff;
}
html body header .bottomArea .center form label input::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 1px;
}
html body header .bottomArea .center form label input::-moz-placeholder {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 1px;
}
html body header .bottomArea .center form label input:-ms-input-placeholder {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 1px;
}
html body header .bottomArea .center form label input::-ms-input-placeholder {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 1px;
}
html body header .bottomArea .center form label input::placeholder {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 1px;
}
html body header .bottomArea .center form button {
  width: 112px;
  height: 40px;
  margin: 0 3px 0 0;
}
html body header .bottomArea .center form button p {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
html body header .bottomArea .center form button:last-child {
  margin: 0;
}
html body header .bottomArea .center form button.signinBtn {
  background: -webkit-gradient(linear, left bottom, left top, from(#26a622), color-stop(50%, #087301), to(#96e57b));
  background: linear-gradient(to top, #26a622 0%, #087301 50%, #96e57b 100%);
  -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0% 50%);
          clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0% 50%);
}
html body header .bottomArea .center form button.signinBtn:hover, html body header .bottomArea .center form button.signinBtn:active, html body header .bottomArea .center form button.signinBtn.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#26a622), color-stop(50%, #087301), to(#96e57b));
  background: linear-gradient(to bottom, #26a622 0%, #087301 50%, #96e57b 100%);
}
html body header .bottomArea .center form button.signupBtn {
  background: -webkit-gradient(linear, left bottom, left top, from(#a93400), color-stop(50%, #7b0900), to(#dd7e68));
  background: linear-gradient(to top, #a93400 0%, #7b0900 50%, #dd7e68 100%);
  -webkit-clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%);
}
html body header .bottomArea .center form button.signupBtn:hover, html body header .bottomArea .center form button.signupBtn:active, html body header .bottomArea .center form button.signupBtn.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#a93400), color-stop(50%, #7b0900), to(#dd7e68));
  background: linear-gradient(to bottom, #a93400 0%, #7b0900 50%, #dd7e68 100%);
}
html body main {
  width: 100%;
  height: auto;
  padding: 176px 0 0 0;
  margin: 0 0 20px 0;
}
html body main .swiper-banner {
  width: 1600px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
html body main .swiper-banner .swiper-wrapper {
  width: 1400px;
  margin: 0 auto;
}
html body main .swiper-banner .swiper-wrapper .swiper-slide img {
  width: 1400px;
  height: 498px;
  -o-object-fit: contain;
     object-fit: contain;
}
html body main .swiper-banner .swiper-button-prev,
html body main .swiper-banner .swiper-button-next {
  width: 100px;
  height: 100%;
  top: 0;
  margin: 0;
  opacity: 0.5;
}
html body main .swiper-banner .swiper-button-prev:hover, html body main .swiper-banner .swiper-button-prev:active, html body main .swiper-banner .swiper-button-prev.active,
html body main .swiper-banner .swiper-button-next:hover,
html body main .swiper-banner .swiper-button-next:active,
html body main .swiper-banner .swiper-button-next.active {
  opacity: 1;
}
html body main .swiper-banner .swiper-button-prev::before,
html body main .swiper-banner .swiper-button-next::before {
  content: "";
}
html body main .swiper-banner .swiper-button-prev::after,
html body main .swiper-banner .swiper-button-next::after {
  content: "";
  width: 72px;
  height: 72px;
  background: url("../img/arrow.png") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: -26px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body main .swiper-banner .swiper-button-prev {
  left: 0;
  right: unset;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
html body main .swiper-banner .swiper-button-next {
  right: 0;
  left: unset;
}
html body main .swiper-banner .swiper-pagination {
  text-align: end;
  padding: 0 160px;
}
html body main .swiper-banner .swiper-pagination span {
  width: 28px;
  height: 25px;
  background: #ffffff;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
          clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  border-radius: unset;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
html body main .swiper-banner .swiper-pagination span.swiper-pagination-bullet {
  opacity: 0.5;
}
html body main .swiper-banner .swiper-pagination span.swiper-pagination-bullet-active {
  opacity: 1;
}
html body main .swiper-banner .swiper-horizontal > .swiper-pagination-bullets,
html body main .swiper-banner .swiper-pagination-bullets.swiper-pagination-horizontal,
html body main .swiper-banner .swiper-pagination-custom,
html body main .swiper-banner .swiper-pagination-fraction {
  bottom: 28px;
}
html body main .typeList {
  width: 1400px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}
html body main .typeList:nth-of-type(odd) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body main .typeList li {
  width: auto;
  height: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  cursor: pointer;
}
html body main .typeList li:nth-of-type(1) {
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}
html body main .typeList li:nth-of-type(3) {
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
}
html body main .typeList li:nth-of-type(4) {
  -webkit-transform: translateX(-160px);
          transform: translateX(-160px);
}
html body main .typeList li .hexagon {
  width: 365px;
  height: 316px;
  position: relative;
}
html body main .typeList li .hexagon.live img {
  width: 225px;
  height: 299px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 14px;
  left: 64px;
}
html body main .typeList li .hexagon.sport img {
  width: 275px;
  height: 267px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 36px;
  left: 35px;
}
html body main .typeList li .hexagon.slot img {
  width: 318px;
  height: 285px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 15px;
  left: 16px;
}
html body main .typeList li .hexagon.lottery img {
  width: 316px;
  height: 267px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 20px;
  left: 27px;
}
html body main .typeList li .hexagon.fish img {
  width: 258px;
  height: 258px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 42px;
  left: 56px;
}
html body main .typeList li .hexagon.board img {
  width: 293px;
  height: 224px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 56px;
  left: 37px;
}
html body main .typeList li .hexagon i {
  width: 269px;
  height: 48px;
  background: url("../img/textBox.png") no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 68px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 38px;
}
html body main .typeList li .hexagon i P {
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
}
html body main .typeList li .hexagon .hover {
  width: 460px;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}
html body main .typeList li .hexagon .trigger {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
html body main .typeList li .hexagon .trigger:hover ~ i p, html body main .typeList li .hexagon .trigger:active ~ i p, html body main .typeList li .hexagon .trigger.active ~ i p {
  -webkit-animation: text 2s ease-in-out 0s infinite;
          animation: text 2s ease-in-out 0s infinite;
}
@-webkit-keyframes text {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html body main .typeList li .hexagon .trigger:hover.live ~ img, html body main .typeList li .hexagon .trigger:active.live ~ img, html body main .typeList li .hexagon .trigger.active.live ~ img {
  -webkit-animation: live 2s linear infinite;
          animation: live 2s linear infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
@-webkit-keyframes live {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scaleX(1.01) scaleY(0.98);
            transform: scaleX(1.01) scaleY(0.98);
  }
  70% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
}
@keyframes live {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scaleX(1.01) scaleY(0.98);
            transform: scaleX(1.01) scaleY(0.98);
  }
  70% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
}
html body main .typeList li .hexagon .trigger:hover.sport ~ img, html body main .typeList li .hexagon .trigger:active.sport ~ img, html body main .typeList li .hexagon .trigger.active.sport ~ img {
  -webkit-animation: sport 2s linear 0s infinite;
          animation: sport 2s linear 0s infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
@-webkit-keyframes sport {
  0% {
    -webkit-transform: skew(1deg, 0deg);
            transform: skew(1deg, 0deg);
  }
  40% {
    -webkit-transform: skew(0deg, 1deg);
            transform: skew(0deg, 1deg);
  }
  70% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  100% {
    -webkit-transform: skew(0);
            transform: skew(0);
  }
}
@keyframes sport {
  0% {
    -webkit-transform: skew(1deg, 0deg);
            transform: skew(1deg, 0deg);
  }
  40% {
    -webkit-transform: skew(0deg, 1deg);
            transform: skew(0deg, 1deg);
  }
  70% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  100% {
    -webkit-transform: skew(0);
            transform: skew(0);
  }
}
html body main .typeList li .hexagon .trigger:hover.slot ~ img, html body main .typeList li .hexagon .trigger:active.slot ~ img, html body main .typeList li .hexagon .trigger.active.slot ~ img {
  -webkit-animation: slot 2s linear 0s infinite;
          animation: slot 2s linear 0s infinite;
  -webkit-transform-origin: right;
          transform-origin: right;
}
@-webkit-keyframes slot {
  0% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  50% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}
@keyframes slot {
  0% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  50% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}
html body main .typeList li .hexagon .trigger:hover.lottery ~ img, html body main .typeList li .hexagon .trigger:active.lottery ~ img, html body main .typeList li .hexagon .trigger.active.lottery ~ img {
  -webkit-animation: lottery 2s linear 0s infinite;
          animation: lottery 2s linear 0s infinite;
  -webkit-transform-origin: right;
          transform-origin: right;
}
@-webkit-keyframes lottery {
  0% {
    -webkit-transform: skew(-6deg);
            transform: skew(-6deg);
  }
  50% {
    -webkit-transform: skew(-2deg) translateY(3px);
            transform: skew(-2deg) translateY(3px);
  }
  100% {
    -webkit-transform: skew(0deg) translate(0);
            transform: skew(0deg) translate(0);
  }
}
@keyframes lottery {
  0% {
    -webkit-transform: skew(-6deg);
            transform: skew(-6deg);
  }
  50% {
    -webkit-transform: skew(-2deg) translateY(3px);
            transform: skew(-2deg) translateY(3px);
  }
  100% {
    -webkit-transform: skew(0deg) translate(0);
            transform: skew(0deg) translate(0);
  }
}
html body main .typeList li .hexagon .trigger:hover.fish ~ img, html body main .typeList li .hexagon .trigger:active.fish ~ img, html body main .typeList li .hexagon .trigger.active.fish ~ img {
  -webkit-animation: fish 2.2s linear 0s infinite;
          animation: fish 2.2s linear 0s infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
@-webkit-keyframes fish {
  0% {
    -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
  }
  40% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  60% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}
@keyframes fish {
  0% {
    -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
  }
  40% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  60% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}
html body main .typeList li .hexagon .trigger:hover.board ~ img, html body main .typeList li .hexagon .trigger:active.board ~ img, html body main .typeList li .hexagon .trigger.active.board ~ img {
  -webkit-animation: board 2s linear 0s infinite;
          animation: board 2s linear 0s infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
@-webkit-keyframes board {
  0% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}
@keyframes board {
  0% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}
html body main .typeList li .hexagon:hover .hover, html body main .typeList li .hexagon:active .hover, html body main .typeList li .hexagon.active .hover {
  display: block;
}
html body main .typeList li:hover, html body main .typeList li:active, html body main .typeList li.active {
  z-index: 10;
}
html body main .typeList li:hover .trigger, html body main .typeList li:active .trigger, html body main .typeList li.active .trigger {
  z-index: 10;
}
html body footer {
  width: 100%;
  height: auto;
  position: relative;
}
html body footer .up {
  width: 100%;
  height: 220px;
  padding: 60px 0 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#343434));
  background: linear-gradient(to top, #000000 0%, #343434 100%);
}
html body footer .up .center {
  width: 1400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
html body footer .up .center .menu {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body footer .up .center .menu p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
}
html body footer .up .center .menu li {
  width: 90px;
  height: 30px;
  margin: 0 50px 0 0;
  border: solid 2px transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
html body footer .up .center .menu li:last-child {
  margin: 0;
}
html body footer .up .center .menu li::before {
  content: "";
  width: 31px;
  height: 25px;
  background: url("../img/bee.png") no-repeat;
  position: absolute;
  top: 50%;
  left: -33px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}
html body footer .up .center .menu li:hover, html body footer .up .center .menu li:active, html body footer .up .center .menu li.active {
  border-bottom: solid 2px #0dcf00;
}
html body footer .up .center .menu li:hover p, html body footer .up .center .menu li:active p, html body footer .up .center .menu li.active p {
  color: #0dcf00;
}
html body footer .up .center .menu li:hover::before, html body footer .up .center .menu li:active::before, html body footer .up .center .menu li.active::before {
  display: block;
}
html body footer .up .center .daddy {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body footer .up .center .daddy > i {
  width: 1000px;
  height: 30px;
  background: url("../img/daddy.png") no-repeat;
  background-size: contain;
}
html body footer .under {
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#ff9000), color-stop(50%, #f1b500), to(#ff9000));
  background: linear-gradient(to right, #ff9000 0%, #f1b500 50%, #ff9000 100%);
}
html body footer .under .center {
  width: 1400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
html body footer .under .center > p {
  color: #4e3609;
  font-weight: bold;
}
html body aside {
  width: auto;
  height: auto;
}
html body aside .download {
  width: 108px;
  height: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 265px;
  left: 7px;
  z-index: 99;
  cursor: pointer;
}
html body aside .download i {
  width: 41px;
  height: 37px;
}
html body aside .download p {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 2px;
  margin: 10px 0 0 0;
}
html body aside .download:hover, html body aside .download:active, html body aside .download.active {
  background-position-x: 100%;
}
html body aside .servie {
  width: auto;
  height: auto;
}
html body aside .servie .line {
  width: 94px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 359px;
  right: 94px;
}
html body aside .servie .line p {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
html body aside .servie .call {
  width: 68px;
  height: 53px;
  position: fixed;
  top: 374px;
  right: 12px;
}
html body aside .servie .bee {
  width: 90px;
  height: 71px;
  position: fixed;
  top: 423px;
  right: 50px;
}
html body .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}