$main_1 : #000000;
$main_2 : #ffffff;

$second_1 : #ffe86a;
$second_2 : #dedede;

$third_1 : #0dcf00;
$third_2 : #4e3609;

$shadow_1 : #00000096;

$linear_1 : linear-gradient(to top, #000000 0%, #343434 100%);
$linear_2 : linear-gradient(to right, #ff9000 0%, #f1b500 50%, #ff9000 100%);

@mixin top_1 {
    background: #292929;
}

@mixin mid_1 {
    background: linear-gradient(to top, #171717 30%, #767676 100%);
    border-style: solid;
    border-width: 3px 0 3px 0;
    border-color: #e1b845;
    box-shadow: 0px 0px 6px 1px $shadow_1;
}

@mixin bottom_1 {
    background: linear-gradient(to top, #151515 0%, #2d2d2d 30%, #2f2f2f 60%, #171717 80%, #2c2c2c 100%);
}

@mixin input_1 {
    border: solid 1px #ffe2a5;
    background: $main_2;
}

@mixin signin_1 {
    background: linear-gradient(to top, #26a622 0%, #087301 50%, #96e57b 100%);

    &:hover,
    &:active,
    &.active {
        background: linear-gradient(to bottom, #26a622 0%, #087301 50%, #96e57b 100%);
    }
}

@mixin signup_1 {
    background: linear-gradient(to top, #a93400 0%, #7b0900 50%, #dd7e68 100%);

    &:hover,
    &:active,
    &.active {
        background: linear-gradient(to bottom, #a93400 0%, #7b0900 50%, #dd7e68 100%);
    }
}