header .bottomArea .center .marquee {
    background: url("../img/marquee_bg.png") no-repeat;
    background-size: contain;
}

header .bottomArea .center form {
    background: url("../img/userList_bg.png") no-repeat;
    background-size: contain;
}

aside .download {
    background: url("../img/download.png") no-repeat;
    background-size: 200%;
}

aside .download i {
    background: url("../img/download_ic.png") no-repeat;
    background-size: contain;
}

main .typeList li .hexagon {
    background: url("../img/gameType_container.png") no-repeat center;
    background-size: contain;
}

.bg {
    background: url("../img/bg.png") no-repeat top left;
    background-size: cover;
}

aside .servie .line {
    background: url("../img/line.png")no-repeat;
    background-size: contain;
}

aside .servie .call {
    background: url("../img/call.png")no-repeat;
    background-size: contain;
}

aside .servie .bee {
    background: url("../img/bee_ic.png")no-repeat;
    background-size: contain;
}

main .typeList li .hexagon .hover {
    background: url("../img/hover_2.png")no-repeat;
    background-size: contain;
}